@import "../../styles/variables.scss";

.projects {
  width: 100%;
  min-height: 500px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -4em;
  background-color: $main-bg;
  background-image: linear-gradient(180deg, #181819, rgba(24, 24, 25, 0) 0%),
    url("https://uploads-ssl.webflow.com/60b76117e1cc0201199b7824/60bea37ba1d9fa4eb3775625_Grain.png"),
    url("https://uploads-ssl.webflow.com/60b76117e1cc0201199b7824/60b77b9c9db061cb2923f66c_Mask%20Group%20(13).svg");
  background-position: 0px 0px, 50% 50%, 50% 100%;
  background-size: auto, 400px, 125%;
  background-repeat: repeat, repeat, no-repeat;
}
